{% extends "ApplicationNotepadBundle::layout.html.twig" %}

{% block title %}ApplicationNotepadBundle:User:view{% endblock %}

{% block content %}

    <div class="col-md-6 center-div">
        <h1>Регистрация</h1>
        {{form(signupForm)}}
    </div>

{% endblock %}
