{% extends "ApplicationNotepadBundle::layout.html.twig" %}
{% block content %}

    <div class="row">
    {% import "ApplicationNotepadBundle:macro:noteBlock.html.twig" as notesBlock %}
    
    {% for note in notes %}
        <div class="col-md-3">
        {{ notesBlock.note_block(note) }}
        </div>
    {% endfor %}
    </div>
    <br>

    <div class="clearfix"></div>

    <hr>
    <div class="col-md-12 text-center"><p><a href="http://www.bootply.com/download/90113" target="_ext">Download Google Plus Style Template</a><br><a href="http://bootply.com/templates" target="_ext">More Bootstrap Templates by @Bootply</a></p></div>
    <hr>

</div>
{% endblock %}